snippet p "print"
print($1)
endsnippet

snippet c "continue"
continue
endsnippet

snippet r "return"
return
endsnippet

snippet l "lambda"
lambda $1: $2
endsnippet

snippet inp "import numpy"
import numpy as np
endsnippet

snippet ipp "import pyplot"
import matplotlib.pyplot as plt
endsnippet
